* {
    box-sizing: border-box;
}

body,
html {
    background-color: #f6f9fc;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*background-image: linear-gradient(to bottom, #f6f9fc, #f9fafd, #fbfcfe, #fdfdfe, #ffffff);*/
    /*background-image: linear-gradient(to top, #f6f9fc, #f9fafd, #fbfcfe, #fdfdfe, #ffffff);*/
    background-image: linear-gradient(to right, #f6f9fc, #f9fafd, #fbfcfe, #fdfdfe, #ffffff);
}