.Project {
    margin: 32px auto 0;
    max-width: 800px;
    width: 70%;
}

.Project form {
    margin-bottom: 40px;
    padding-bottom: 40px;
    
}

.Project h1 {
    color: #32325d;
    font-weight: 400;
    line-height: 50px;
    font-size: 40px;
    margin: 20px 0;
    padding: 0;
}

.Project button {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    transition: all 150ms ease;
    margin-top: 10px;
}

.Project button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.Project label {
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
}

.Project input {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}
.Project input::placeholder {
    color: #aab7c4;
}
.Project input:focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.full-width {
    width: 100%;
}
.projectTableRow {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    border: 1px solid #5eff8821;
    margin: 14px 0;
    background-color: #f3f3f34f;
    box-shadow: 8px 5px 23px -8px rgba(0,0,0,0.1);
    height: 90px;
    justify-content: space-around;
}

.projectTableKey {
    
}
.projectTableValue {
    font-weight: bold;
}