[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pygithub = "*"
stripe = "*"
pyyaml = "*"
protobuf = "*"
google-cloud-datastore = "*"
kubernetes = "*"
"bs4" = "*"
google-api-python-client = "*"
"oauth2client" = "==3.*"
google-auth = "*"
google-cloud-container = "*"

[dev-packages]
"beautifulsoup4" = "*"

[requires]
python_version = "3.7"
