cachetools==2.1.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Deprecated==1.2.3
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.6
futures==3.1.1
google-api-core==1.5.0
google-auth==1.5.1
google-cloud==0.34.0
google-cloud-container==0.2.1
google-cloud-core==0.29.1
google-cloud-datastore==1.7.0
googleapis-common-protos==1.5.5
grpcio==1.16.0
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyGithub==1.43.2
PyJWT==2.4.0
pytz==2018.6
requests==2.20.0
rsa==4.0
six==1.11.0
urllib3==1.26.5
Werkzeug==2.2.3
wrapt==1.10.11
